<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel=stylesheet type="text/css" href="assets/styles/login.css">
</head>
<body style="background-image: url('assets/images/bkg1.jpg');">
  <div class="main-container">
    <div class="secound-container">
      <div class="create-account">
        <span>Don't Have An Account?</span>
      </div>
       <button class="button1" type="submit" value="Submit">CREATE ACCOUNT</button>
      <a href="#" id="terms">Terms & Conditions</a>
     </div>
  </div>
   <div class="basic-container">
    <div class="login">
      <span>Sign In</span>
    </div>
    <form action="action/page.js">
      <div class="wrapper1" >
        <input class="input" type="text" value="E-Mail" placeholder="E-Mail">
      </div>
      
      <div class="wrapper2" >
        <input class="input" type="text" value="Password" placeholder="Password">
      </div>
       <input id="checkbox" type="checkbox"> Keep Me Logged In <br>
      
      <button class="button" type="submit" value="Submit">GO!</button>
      <a href="#" id="forgotten-pass">Forgot Password?</a>
    </div>
  </form>
</div>
</body>
</html> 